.builder {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &__question {
    display: flex;
    flex-direction: column;
    row-gap: .25rem;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__other-option {
    display: flex;
    column-gap: .5rem;
    align-items: center;
  }

  &--error {
    color: #ff4d4f;
  }
}
